  <div id="blockForms">
    <div class="form">
      <h2>changer de mois</h2>
      <form method="get" action="calendrier.php">
      <label for="mois">mois</label> <input type="number" min="1" max="12" id="mois" name="mois"/> <br />
      <label for="annee">annee</label> <input type="number" id="annee" name="annee"/> <br />
      <input type="submit" />
      </form>
    </div>    
    <div class="form">
      <h2>ajouter evenement</h2>
      <form method="get" action="calendrier.php">
      <label for="date">date</label> <input type="date" id="date" name="date"/> <br />
      <label for="evenement">evenement</label> <input type="text"  name="evenement"/> <br />
      <input type="submit" />
      </form>
    </div>
  </div>
  