a{
    font-size: small;
}

td{
    padding : 10px 5px; border : solid 1px; 
}

table{
    border-collapse: collapse;
}

#blockForms{
    display: inline-flex;
    margin-bottom: 100px;
}

.form{
    margin : 0 50px 0 50px;
}

.evenement{
    position:absolute;
    background-color: white;
    border: solid 1px;
    display: none;
}

.jourHover:hover .evenement{
    display: block !important;
}