table, th, td {
    border: 1px solid black;
  }

.Methode_scientifique{
  background-color: rgba(60, 245, 91, 0.459);
}

.Trash_Taste{
  background-color: rgba(122, 20, 238, 0.425);
}

.FeaturedAnimePodcast{
  background-color: rgba(245, 186, 68, 0.548);
}